#header {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;

}

#yelpington banner {
    height: 10px;
    padding: 10px;
}

#all-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#json-content {
    border: 1px solid black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 450px;
    background-color: white;
    opacity: 0.75;
    position: relative;
}

.restaurants {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 0 8px;
    border-top: 4px solid transparent;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
}

.restaurants:hover {
    cursor: pointer;
    border-top: 4px solid #7cc0e7;
}

#map {
    position: relative;

}

#left-content {
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #7cc0e7;
    margin: 15px;
    margin-bottom: 0px;
}

#right-content {
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

html {
    background: url(pexels-photo-1092364.jpeg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
}

#navbar ul {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    padding-left: 0px;
}

#all-content {
    margin-top: 10px;
}

/* #json-content {
    border: 1px solid black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    width: 450px;
    background-color: white;
    opacity: 0.75;
    position: relative;
}

#map {
    opacity: 1.0;
    background-color: white;
}

html {
    background: url(animal-art-asia-932261.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.restaurants {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.restaurants:hover {
    cursor: pointer;
    color: cyan;
    border-left: 1px solid cyan;
    padding-left: 10px;
}

body {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

#restaurant-list {
    padding-left: 10px;
    line-height: 30px;
    /* border-left: 1px solid black; */
    margin: 25px;
} */

